@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --arctic-white: #dde5ed;
  --bright-blue: #0074f0;
  --orange: #ff7f41;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .popup-wrapper {
    @apply cursor-pointer pointer-events-auto relative z-10;
  }
  .popup-content {
    @apply absolute z-50 opacity-0 pointer-events-none scale-95 [&.active]:scale-100 [&.active]:opacity-100 [&.active]:pointer-events-auto top-0 left-full translate-x-[50px] w-[500px] bg-[--arctic-white] text-[--bright-blue] p-[10px] h-[600px] max-h-[60dvh] overflow-auto hide-scrollbar transition duration-500 ease-in-out;
  }
  .popup-content .label {
    @apply cursor-pointer;
  }
  .popup-content .h3 {
    @apply text-[12px] font-bold leading-normal uppercase;
  }
  .popup-content h2 {
    @apply text-[32px] font-bold leading-none uppercase mb-[20px];
  }
  .popup-content .text-content {
    @apply leading-[130%] mb-[30px];
  }
  .popup-content .sub-link {
    @apply flex justify-between;
  }
  .element {
    @apply !z-10 [&.active]:!z-20 relative;
  }
  .pin-wrapper {
    @apply pointer-events-auto cursor-pointer z-30;
  }
  .pin {
    @apply w-[14px] h-[14px] bg-[--bright-blue] rounded-full relative text-[--bright-blue];
  }
  .pin.orange {
    @apply !bg-[--orange];
  }
  .pin::after {
    content: "";
    @apply absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 w-[5px] h-[5px] bg-white rounded-full;
  }
  .pin-wrapper .pointer {
    @apply absolute bottom-[30%] left-1/2 -translate-x-1/2;
  }

  .pin-wrapper .pin-content-wrapper {
    @apply absolute border-[5px] border-[--bright-blue] bottom-full -translate-y-[20px] left-1/2 -translate-x-1/2 w-[220px] h-[220px] rounded-full bg-white;
  }
  .pin-wrapper .pin-content {
    @apply relative w-full h-full;
  }
  .pin-wrapper .pin-content img {
    @apply absolute top-0 left-0 w-full h-full rounded-full pointer-events-none;
  }
  .pin-wrapper .pin-content h3 {
    @apply absolute right-[20px] bottom-[40px] font-bold;
  }
  .person-pin-wrapper * {
    @apply !text-[--orange];
  }
  .person-pin-wrapper .name-wrapper {
    @apply absolute top-0 left-full flex items-start w-max;
  }
  .person-pin-wrapper .name-wrapper .pointer {
    @apply translate-y-full;
  }
  .person-pin-wrapper .name {
    @apply bg-white -ml-[2px] px-[4px] py-[6px] border-2 border-[--orange] rounded-[5px] font-bold uppercase;
  }
  .base-label {
    @apply relative;
  }

  .base-label .base-name {
    @apply absolute -left-[20px] uppercase bottom-full -translate-y-[13px] w-max rounded-[5px] py-[6px] px-[4px] bg-[--orange] !text-white font-bold;
  }
  .base-label .pointer {
    @apply absolute bottom-full -translate-y-[4px] left-1/2 -translate-x-1/2 -rotate-90;
  }
  .text-label-toggle {
    @apply [&.active]:opacity-100 [&.active]:pointer-events-auto opacity-0 pointer-events-none transition duration-300;
  }
}
